/* @import '~antd/es/style/themes/default.less'; */

.copy-button {
  color: rgb(0, 0, 255);
  border-left: 0px;
}

.ant-form-item-control-input-content {
  display: flex;
}

.myform {
  width: 55%;
  /* border: 1px solid black; */
}

.myform--password>#showpass {
  width: 100%;
}